.beforeImage {
    position: fixed;
    filter: blur(3px);
    left: -18vw;
    top: 34vh;
}

.afterImage {
    position: fixed;
    right: -20vw;
    top: 34vh;
    filter: blur(3px);
}

.gridCell {
    border: 1px solid rgba(108, 122, 137, 0.3);
    border-left: none;
    border-top: none;
    padding-left: 1px;
    height: calc(100vh / 6);
    width: calc(100vw / 11);
}